* {
  /* border: 1px solid black; */
  margin: 0;
}

body {
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  min-height: 100vh;
}

header {
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 5rem;
}

header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 0 100%);
}

header::before,
footer {
  background-color: #0891b2;
}

.header-image-and-title {
  position: relative;
}

.header-image-and-title h1 {
  position: absolute;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header img {
  max-width: 27vw;
}

.about-me {
  height: 45vh;
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: white;
  padding: 4rem 1rem;
  border: 1px solid red;
}

.about-me > h2,
.about-me > p,
.about-me > div {
  margin: 0 2rem;
}

.social-media-links-header {
  display: flex;
  justify-content: end;
  gap: 2rem;
  border: 1px solid red;
}

.social-media-links-header svg {
  width: 2vw;
}

main {
  padding: 0 3rem;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.project-screenshot {
  flex: 1;
}

.title-and-links {
  display: flex;
  justify-content: space-between;
}

.project-details {
  padding: 1.5rem;
}

footer {
  display: flex;
  padding: 3rem;
}

footer img {
  max-width: 700px;
}
