* {
  border: 1px solid black;
  margin: 0;
}

header {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
}

header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 0 100%);
  background-color: #0891b2;
}

.header-figure {
  width: 25vw;
  height: 58vh;
}

.about-me {
  height: 48vh;
  width: 60vw;
}

main {
  padding: 0 3rem;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.project-screenshot {
  flex: 1;
}

.title-and-links {
  display: flex;
  justify-content: space-between;
}

.project-details {
  padding: 1.5rem;
}
